<style>
   #borders {
      padding-right: 200px;    
      padding-left: 200px;
    }
    .row
    {
      background: #fff;
    }
    .col-md-6 {
      height: 500px;
    }
</style>


<div ng-controller="chartController" id="borders">
 	<p>Select Chart Type </p>
  <select ng-model="template" ng-change="setCurrentTemplate()" ng-options="t.name for t in chartTemplates">
  <!--<input type="text" ng-model="template.url"> -->
 	 <option value=''>(Select)</option>
  </select> <br>
  	url of the template: <code>{{template.url}}</code>


  <div id="container">
    <div class= "row">
      <div clas="col-md-6" ng-include='template.url'>
      </div>
    </div>
  </div>
</div>