<style type="text/css">
	#dashboard-page {
		padding: 0px;
        background: #2B2B2B;
        min-height:1000px;
	}
	h4 {
		color: white;
	}
	.row {
		padding: 15px;
	}
	.panel-body {
		padding: 0px;
	}
	#sidenavOpen {
		background-color: #fff;
	    min-height: 1000px;
	    max-width: 150px;
	    padding: 0px;

	}
	#sidenavClosed {
		background-color: #fff;
	    min-height: 1000px;
	    max-width: 65px;
	    padding: 0px;
	}
	#page-navbar {
		background-color: #fff;
	}
	#table-wraper{
	 	height: 320px;
		overflow-y: scroll;
		background-color: #2B2B2B;
		color: white;
	}
	.col-md-5 .col-md-6 {
		padding: 0px;
	}
	.container-fluid {
		padding: 0px;
	}
	.panel.panel-head {
		margin: 0px;
		background-color: #2B2B2B;

	}
	#table-navbar {
		margin: 0px;
		background-color: #2B2B2B;
		border-color:  #2B2B2B
	}
	#search-input{
		margin: 0px;
		background-color: #404040;
		border-color:  #2B2B2B;
		color: white;
	}
	.red {
		color: red;
	}
	a.grey {
		color: #2B2B2B;
		padding: 0px;
		font-size: 12px;
	}
	div.amcharts-main-div {
		background-color: #2B2B2B;
		color: white;		
	}
	text {
		fill: white;
	}
	#no-border {
		margin: 0px;
		border: 0px;
		padding: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: rgba(0, 0, 0, 0.0470588) 0px 5px 5px 0px;
	}
	.table tbody tr:hover td, .table tbody tr:hover th {
    	color: #2B2B2B;
    	background-color: #fff;

	}
	ul.nav a:hover { color: white !important; background-color: #2B2B2B;}
	
	.table thead tr th a:hover {
		color: #2B2B2B;
    	background-color: #fff;
	}

	div.amChartsLegend.amcharts-legend-div {
	}
</style>




<div id="dashboard-page" class="container-fluid">

	<!-- PageHeader -->
	<div class="row">
		<div class="row" id="page-navbar">
			<div class="container-fluid">
				<div class="col-md-1">
					<a ng-show="sidebarToggle" ng-click="changeSidebarToogle()" class="btn btn-md btn-danger"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
					<a ng-show="!sidebarToggle" ng-click="changeSidebarToogle()" class="btn btn-md btn-danger"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>

		<div id="sidenavOpen" class="col-md-1" ng-show="sidebarToggle">
			<div ng-show="sidebarToggle">
				<ul class="nav nav-stacked">
					<li><a ng-click="changeDashEventToggle()" class="red"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Events</a></li>
					<li><a ng-click="changeDashChartsToggle()" class="red"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Graphs</a>
						<li><a ng-click="changeBarChartsToggle()" class="grey"> Bar Chart</a></li>
						<li><a ng-click="changePieChartsToggle()" class="grey"> Pie Chart</a></li>
						<li><a ng-click="changeLineChartsToggle()" class="grey"> Line Chart</a></li>
					</li>
					<li><a href="" class="red"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Alerts</a></li>
					<li><a href="" class="red"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</a></li>
				</ul>
			</div>
		</div>
		<div id="sidenavClosed" class="col-md-1" ng-show="!sidebarToggle">
			<div>
				<ul class="nav nav-stacked">
					<li><a ng-click="changeDashEventToggle()" class="red"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li> 
					<li><a ng-click="changeDashChartsToggle()" class="red"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a></li>
					<li><a href="" class="red"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></a></li>
					<li><a href="" class="red"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</div>
		<!-- EventBar -->
			<div class="col-md-6" ng-show="dashEventToggle">
				<div class="container-fluid">
				<div class="row">
				
				
				  	<div id="table-navbar" class="navbar navbar-default"> 
				  	<h4>Events 
			            <nav class="btn btn-md btn" ng-click="changeSearchToggle()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </nav>
			          
			          
			            <nav class="btn btn-sm btn" ng-click="changeFilterToggle()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></nav>
			            
			          
			            <nav class="btn btn-sm btn" ng-click="changeViewToggle()"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></nav>
			              
			            <div  class="pull-center" ng-show="!searchToogle"><input id="search-input" type="text" class="form-control input-sm" ng-model="event_search"></div>

			            <select ng-show="!filterToogle" ng-model="orderProp">
			              <option value="meta.utc" size="12">Date</option>
			              <option value="meta.topic">Topic</option>
			              <option valu e="meta.agent">Agent</option>
			              <option value="reactorMeta.company">Company ID</option>
			            </select>

			            <select ng-show="!viewToogle" ng-model="nmbrEvents">
			                <option value="1000">View All</option>
			                <option value="5">5</option>
			                <option value="-5">-5</option>
			                <option value="10">10</option>
			                <option value="30">30</option>
			            </select> 

			        </h4>
			        </div>



			        <div id="table-wraper" class="container-fluid">
			          
			            <table id="main_table" class="table table-hover table-responsive">
			              <div style="margin-right: 0px">
			                <thead>
			                   <tr role="row">
			                    <th> <a class="btn btn-md red" ng-click="orderProp=meta.utc">Time Stamp  <span class="glyphicon glyphicon-time" aria-hidden="true"> </span></a></th>
			                    <th> <a class="btn btn-md red" ng-click="orderProp=meta.topic">Topic  <span class="glyphicon glyphicon-tag" aria-hidden="true"> </span></a></th>
			                    <th> <a class="btn btn-md red" ng-click="orderProp=meta.agent">Agent  <span class="glyphicon glyphicon-user" aria-hidden="true"> </span></a></th>
			                    <th> <a class="btn btn-md red" ng-click="orderProp=reactorMeta.company">CompanyID  <span class="glyphicon glyphicon-briefcase" aria-hidden="true"> </span></a></th>
			                  </tr>
			                </thead>
			              </div>
			              <tbody>
			                <tr  ng-repeat="event in events | filter: event_search | orderBy: orderProp | limitTo:nmbrEvents track by $index">
			                  <td class="text-center">{{event.meta.utc}}</td>
			                  <td class>{{event.meta.topic}}</td>
			                  <th class="sorting_1">{{event.meta.agent.username}}</th>
			                  <th class>{{event.reactorMeta.company}}</th>
			                </tr>
			              </tbody>
			            </table>
			            
			        </div>	
			    </div>
				</div>
		</div>

		<div class="col-md-5" ng-show="dashChartsToggle">
		<!-- ChartsWraper-->
			<div class="charts-wrapper">
				<div class="container-fluid">
					<div class="row" ng-controller="graphsCrlt">
						<h4>CHARTS GO HERE</h4>
						<div class="row"> 
							<div id="events-container" class="col-sm-6" ng-show="dashBarToggle">
								<div id="no-border" class="panel panel-danger">
									<div class="panel-body" ng-show="!barToggle">
										<div style="min-height:300px" id="barchartdiv"></div> 
								    </div>
									<div  id="no-border" class="panel panel-head" style="width:100%; padding:5px;">
										<div style="color: red; font-size: 120%; text-transform: uppercase">
											<a class="btn btn-xs btn-danger" ng-show="!barToggle" ng-click="changeBarToggle()"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-danger" ng-show="barToggle" ng-click="changeBarToggle()"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-default" ng-click="refreshBarData()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#barModal"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="col-sm-6" ng-show="dashPieToggle">
							    <div id="no-border" class="panel panel-danger">
									<div class="panel-body" ng-show="!pieToggle">
										<div style="min-height:300px" id="piechartdiv"></div> 
								    </div>
								    <div  id="no-border" class="panel panel-head" style="width:100%; padding:5px;">
										<div style="color: red; font-size: 120%; text-transform: uppercase">
											<a class="btn btn-xs btn-danger" ng-show="!pieToggle" ng-click="changePieToggle()"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-danger" ng-show="pieToggle" ng-click="changePieToggle()"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-default" ng-click="refreshPieData()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#pieModal"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a> 
										</div>	
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
							<div class="col-md-11" ng-controller="graphsCrlt" ng-show="dashChartsToggle && dashLineToggle">
							    <div id="no-border" class="panel panel-danger">
									<div ng-show="!lineToggle">
										<div>
											<div id="chartdiv" style="min-height: 300px;"></div>
									    </div>
								    </div>
								    <div id="no-border" class="panel panel-head" style="width:100%; padding:5px;">
										<div style="color: red; font-size: 120%; text-transform: uppercase"> 
											<a class="btn btn-xs btn-danger" ng-show="!lineToggle" ng-click="changeLineToggle()"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-danger" ng-show="lineToggle" ng-click="changeLineToggle()"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-default" ng-click="refreshLineData()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
											<a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#lineModal"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> </a>
										</div>
									</div>
								</div>
							</div>
	</div>
</div>
