 <div id="Graphs-wrapper" ng-controller="graphsCrlt">

	  <div class="container-fluid">
	    <h3>Graphs</h3>
	    <p>Under contrusction...</p> 
	    <select>
		  <option value="bar-graph"><a href="#/Graphs/Bar">Bar Graph</a></option>
		  <option value="pie-graph"><a href="#/Graphs/Pie">Pie Chart</a></option>
		</select>

	  </div>


	<div class="row">
		<div class="row table-head" style="width:100%; padding:5px;">
			<div class="col-sm-6 table-title" style="color: blue; font-size: 120%; text-transform: uppercase">Bar Graph</div>
			<button ng-show="!barToggle" ng-click="changeBarToggle()">Hide</button>
			<button ng-show="barToggle" ng-click="changeBarToggle()">Show</button>
		</div>
		<div ng-show="!barToggle" ng-controller="BarCtrl">
			<canvas id="bar" class="chart chart-bar" data="data" labels="labels" 
		    legend="true" series="series" click="onClick"></canvas> 
		    <button ng-click="updateData()"> Update Data </button>
	    </div>
	</div>


    <div class="row">
    	<div class="row table-head" style="width:100%; padding:5px;">
			<div class="col-sm-6 table-title" style="color: blue; font-size: 120%; text-transform: uppercase">Pie Chart</div>
			<button ng-show="!pieToggle" ng-click="changePieToggle()">Hide</button>
			<button ng-show="pieToggle" ng-click="changePieToggle()">Show</button>
		</div>
		<div ng-show="!pieToggle" ng-controller="PieCtrl">
			<canvas id="pie" class="chart chart-pie" data="data" labels="labels" 
			legend="true"></canvas> 
		    <button ng-click="updateData()"> Update Data </button>
	    </div>
	</div>

    <div class="row">
    	<div class="row table-head" style="width:100%; padding:5px;">
			<div class="col-sm-6 table-title" style="color: blue; font-size: 120%; text-transform: uppercase">Line Chart</div>
			<button ng-show="!lineToggle" ng-click="changeLineToggle()">Hide</button>
			<button ng-show="lineToggle" ng-click="changeLineToggle()">Show</button>
		</div>
		<div ng-show="!lineToggle">
			<div ng-controller="LineCtrl2">
				<div id="chartdiv" style="width: 640px; height: 400px;"></div>
		    </div>

	    </div>
	</div>
